//change file name to "config.js"
module.exports = {
  botToken: 'YOURTOKENGOESHERE',
  user: {
    username: 'USERNAME HERE',
    password: 'PASSWORD HERE'
  },
  emojiReplacement: {
    'Buga': '🌸',
    'Cowo': '🏢',
    'MSE': '🚀'
  },
  adminChatIds: [12345678], // allowed to do broadcasts
}
